body{
    font-family: "Times New Roman", Times, serif !important;
}

header {
    background-color: #000;
    color: #ff0;
    padding: 20px;
    text-align: center;

}
header h1 {
    margin: 0;
    font-size: 40px;
}
header nav {
    margin-top: 10px;
}
header nav a {
    display: inline-block;
    width: 175px;
    height: 25px;
    line-height: 25px;
    background-color: #ff0;
    color: #000;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}
header nav a:hover {
    background-color: #f60;
    transform: scale(1.1);
}

.a-glav{
    color: #ff0;
    text-decoration: none;
    transition: font-size 0.3s;
}
.a-glav:hover{
    font-size: 1.1em;
}

#exitSession {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 300px;
    position: absolute;
    left: 75%;
    top: 2.5%;
}

#exitSession h1 {
    flex-grow: 1;
    max-width: 300px;
    font-size: 30px;
    position: relative;
}

#exitSession > a {
    width: 80px;
    height: 20px;
    padding: 9px;
    background-color: red;
    text-align: center;
}