body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
}
.container {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 0, 0.5);
}
#editForm{
    height: 700px;
}
.form-group {
    margin-bottom: 20px;
    width: 95%;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}
.btn-edit {
    float: left;
    background-color: #ff0;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}
.btn-edit:hover {
    background-color: #f60;
    transform: scale(1.1);
}

.btn-delete {
    float: right;
    background-color: #ff0000;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;    
    transition: background-color 0.3s, transform 0.3s, color 0.3s;
}
.btn-delete:hover {
    background-color: #810000;
    color: white;
    transform: scale(1.1);
}