body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 0, 0.5);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="date"] {
    width: calc(100% - 30px); /* Уменьшаем ширину, чтобы оставить место для флага */
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

.flag-container {
    display: flex;
    align-items: center;
}

.flag-text {
    margin-right: 10px;
    font-size: 16px;
}

.flag-checkbox {
    display: none; /* Скрываем оригинальный чекбокс */
}

.flag-label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
}

.flag-checkbox:checked + .flag-label::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff0; /* Цвет флага */
}

.btn-submit {
    background-color: #ff0;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-submit:hover {
    background-color: #f60;
    transform: scale(1.1);
}
