{% extends "base.html" %}
{% block head %}
<title>Посещения</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/arrival.css') }}">
{% endblock %}

{% block html %}
<div class="container">
    <h2 style="text-align: center;">Посещения</h2>
    <div style="text-align: center">
        <h3>{{ date }}</h3>
    </div>

    {% if data|length > 0 %}
        <table>
            <thead>
                <tr>
                    <th>Номер абонемента</th>
                    <th>Дата посещения</th>
                </tr>
            </thead>
            <tbody>
                {% for visit in data %}
                <tr>

                    <td>{{ visit.abn_id }} {{visit.name}}</td>
                    {% if date != 'Все время' %}
                        <td>{{ visit.date_arrival.strftime('%H:%M:%S') }}</td>
                    {% else %}
                        <td>{{ visit.date_arrival.strftime('%d.%m.%Y %H:%M:%S') }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div style="text-align: center">
            <h3>В этот день посещений не было</h3>
        </div>
    {% endif %}
</div>
{% endblock %}
