<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Информация о пользователе</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/client.css') }}">
</head>
<body>
  <div class="container">
    <h2 style="text-align: center;">Информация о пользователе</h2>
    <div class="info-item">
      <label>ID:</label>
      <span>{{data.id}}</span>
    </div>
    <div class="info-item">
      <label>Имя:</label>
      <span>{{data.name}}</span>
    </div>
    <div class="info-item">
      <label>Номер телефона:</label>
      <span>{{data.phone_number}}</span>
    </div>
    <div class="info-item">
      <label>Дата подписания:</label>
      <span>{{data.date_signing}}</span>
    </div>
    <div class="info-item">
      <label>Дата активации:</label>
      <span>{{data.activate_date}}</span>
    </div>
    <div class="info-item">
      <label>Заморозка:</label>
      <span>{{data.freezing}}</span>
    </div>
    <div class="info-item">
      <label>Номер абонемента:</label>
      <span>{{data.subscription_number}}</span>
    </div>
    <div class="info-item">
      <label>Сумма:</label>
      <span>{{data.summa}}</span>
    </div>
    <div class="info-item">
      <label>Время посещения:</label>
      <span>{{data.time}}</span>
    </div>
    <div class="info-item">
      <label>Админисратор:</label>
      <span>{{data.admin}}</span>
    </div>



    <form action="/process" method="post" style="text-align: center;">
      <input type="hidden" name="id" value="{{data.id}}">
      <input type="hidden" name="abn_id" value="{{data.subscription_number}}">
      <input type="hidden" name="name" value="{{data.name}}">
      <input name='locker' style="width: 18px" value='0' type="text">
      <button class="button" type="submit" name="action" value="arrival">Приход</button>
      <button class="button" type="submit" name="action" value="edit">Изменить</button>
      <button class="button" type="submit" name="action" value="back">На главную</button>
    </form>
  </div>

  <script !src="">
    {% if arrival == 'true' %}
      alert('Успешно!')
    {% endif %}
  </script>
</body>
</html>
