{%extends "base.html"%}

{% block head %}
<title>Удаление работника</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<script>
    function confirmDelete() {
        if (confirm("Вы уверены, что хотите удалить работника?")){
            document.getElementById('send').submit()
        }
    }
    </script>
{% endblock %}


{% if isAdmin == true %}
    {% block only_admin %}
    <a href="/add-worker" style="background-color: #17f117;">Добавить работника</a>
    <a href="/delete-worker" style="background-color: red;">Удалить работника</a>
    {% endblock %}
    {% block if_admin_color %}
    style="color: pink"
    {% endblock %}
{% endif %}

{% block user_name %}
{{ userName }}
{% endblock %}



{% block html %}
<div class="container">
    <h2>Удалить работника</h2>
    <form action="/delete-worker" id="send" method="post">
        <div class="input-field">
            <select name="name">
              {% for user in users %}
                <option value="{{user.id}}">{{user.name}} - {% if user.admin == 'yes' %}admin{% else %}user{% endif %}</option>
              {% endfor %}
            </select>
        </div>
        <div class="input-field">
            <input type="button" onclick="confirmDelete()" value="Удалить">
        </div>
    </form>
</div>

{% endblock %}
