{%extends "base.html"%}


{%block head %}
<title>Проверка абонемента</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block only_admin %}
    {% if isAdmin == 'True' %}
   <a href="/add-worker" style="background-color: #17f117;">Добавить работника</a>
    {% endif %}
{% endblock %}

{% block if_admin_color %}
    {% if isAdmin == 'True' %}
    style="color: pink"
    {% endif %}
{% endblock %}

{% block user_name %}
{{ userName }}
{% endblock %}


{% block html %}
<div class="container">
    <a><h2>Проверка абонемента</h2></a>
    <form action="/client" method="GET">
      <input type="text" name="id" placeholder="Введите номер абонемента или имя владельца" required>
      <input type="submit" value="Отправить">
    </form>
  </div>
{% endblock %}
