
{%extends "base.html"%}
{% block head %}
<title>Добавление абонемента</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/new-user.css') }}">
{% endblock %}


{% block html %}
<div class="container">
    <h2 style="text-align: center;">Добавление абонемента</h2>
    <form id="editForm" action="/new_subscription" method="post">
        <div class="form-group">
            <label for="name">Имя:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="number">Номер:</label>
            <input type="text" id="number" name="number" required>
        </div>
        <div class="form-group">
            <label for="date_signing">Дата подписания:</label>
            <input type="text" id="date_signing" name="date_signing" required>
        </div>
        <div class="form-group">
            <label for="activate_date">Дата активации:</label>
            <input type="text" id="activate_date" name="activate_date" required>
        </div>
        <div class="form-group">
            <label for="freezing">Заморозка:</label>
            <input type="text" id="freezing" name="freezing" required>
        </div>
        <div class="form-group">
            <label for="subscription_number">Номер абонемента:</label>
            <input type="text" id="subscription_number" name="subscription_number" required>
        </div>
        <div style="text-align: center">
            <button type="button" class="btn-edit" onclick="confirmEdit()">Добавить</button>
        </div>
    </form>
</div>

<script>
    function confirmEdit() {
        if (confirm("Вы уверены, что хотите добавить абонемент?")) {
            document.getElementById("editForm").submit();
        }
    }
</script>
{% endblock %}
