
{%extends "base.html"%}
{% block head %}
<title>Добавление абонемента</title>
{% endblock %}


{% block style %}
body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
}
.container {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 0, 0.5);
}
.form-group {
    margin-bottom: 20px;
    width: 95%
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}
.btn-edit {
    background-color: #ff0;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}
.btn-edit:hover {
    background-color: #f60;
    transform: scale(1.1);
}
{% endblock %}


{% block html %}
<div class="container">
    <h2 style="text-align: center;">Добавление абонемента</h2>
    <form id="editForm" action="/new_subscription" method="post">
        <div class="form-group">
            <label for="name">Имя:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="number">Номер:</label>
            <input type="text" id="number" name="number" required>
        </div>
        <div class="form-group">
            <label for="date_signing">Дата подписания:</label>
            <input type="text" id="date_signing" name="date_signing" required>
        </div>
        <div class="form-group">
            <label for="activate_date">Дата активации:</label>
            <input type="text" id="activate_date" name="activate_date" required>
        </div>
        <div class="form-group">
            <label for="freezing">Заморозка:</label>
            <input type="text" id="freezing" name="freezing" required>
        </div>
        <div class="form-group">
            <label for="subscription_number">Номер абонемента:</label>
            <input type="text" id="subscription_number" name="subscription_number" required>
        </div>
        <div style="text-align: center">
            <button type="button" class="btn-edit" onclick="confirmEdit()">Добавить</button>
        </div>
    </form>
</div>

<script>
    function confirmEdit() {
        if (confirm("Вы уверены, что хотите добавить абонемент?")) {
            document.getElementById("editForm").submit();
        }
    }
</script>
{% endblock %}
